<h1>Create A New Figure</h1>

<form action="/figures" method="POST">
  <label>Name: </label>

  <p><input type="text" name="figure[name]" id="figure_name"></p>

  <br></br>
  <h3>Select a Title:</h3>
  <%Title.all.each do |title|%>
    <label><%= title.name %></label>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%=title.id%>">
  <%end%><br>
  <h3>Select a Landmark:</h3>
  <%Landmark.all.each do |landmark|%>
  <label><%= landmark.name %></label>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%=landmark.id%>">
  <%end%><br><br>

  <label>And/or create new title:</label>
    <input  type="text" name="title[name]" id="new_title"></input>
  <br></br>

  <label>And/or create new landmark:</label>
    <input  type="text" name="landmark[name]" id="new_landmark"></input>
  <br></br>

  <input type="submit" value="Create New Figure">
</form>
